* {
	font-family: "Times New Roman", Times, serif;
	box-sizing: border-box;
}
html{
	background-color: #EFEFEF;
}
.container{
	max-width: 70%;
	margin: auto;
	background-color: #EFEFEF;
}
li{
	list-style: none;
}
.product-list{
	width: 100%;
	padding-left: 0;
	margin-top: 0;
}
.d-product{
	border: solid white 4px;
	position: relative;
	.d-left-product{
		display: inline-block;
		width: 45%;
		.d-product-image{
			width:100%;
			border: 5px solid #b20000;
		}
		
	}
	.d-right-product{
		height: 100%;
		width: 55%;
		display: inline-block;
		vertical-align: top;
		.d-product-header{
			width: 100%;
			color: #696969;
			padding-left: 8px;
			padding-right: 8px;
			background-color: #CAEBF2;
			text-align: center;
			margin-top: 0px;
		}
		.d-product-body{
			padding-left: 8px;
			bottom: 0;
			width: 100%;
		}
		.d-product-footer{
			.d-purchase-price{
				display: inline-block;
				padding-left: 8px;
				margin-top: -5px;
			}
			.d-purchase-button{
				float: right;
				display: inline-block;
			}
		}
	}
}
.product{
	border: solid white 4px;
	position: relative;
	.left-product{
		display: inline-block;
		width: 45%;
		.product-image{
			width:100%;
			border: 5px solid #b20000;
		}
	}
	.right-product{
		height: 100%;
		width: 55%;
		display: inline-block;
		vertical-align: top;
		.product-header{
			width: 100%;
			color: #696969;
			padding-left: 8px;
			padding-right: 8px;
			background-color: #CAEBF2;
			text-align: center;
			margin-top: 0px;
		}
		.product-body{
			padding-left: 8px;
			bottom: 0;
			width: 100%;
		}
		.product-footer{
			bottom: 0;
			min-height: 40px;
			.purchase-button{
				position: absolute;
				right: 8px;
				bottom: 8px;
			}
		}
	}
}
.product-button{
	background-color: #b20000;
	color: white;
	position: absolute;
	right: 38%;
	bottom: 12px;
	width: 15%;
	border: 2px solid #b20000;
			}
.home-view{
	border: solid white 4px;
	max-width: 100%;
	.home-left{
		display: inline-block;
		width: 38%;
		.home-logo{
			max-width: 100%;
		}
	}
	.home-right{
		display: inline-block;
		width: 58%;
		vertical-align: top;
		.home-title{
			color: #696969;
			background-color: #CAEBF2;
			text-align: center;
		}
		.home-body{
			color: black;
		}
	}
}
.header-top{
		position: absolute;
		max-width: 100%;
		background-color: gray;
		height: 250px;
		position: relative;
		background-image: url('https://d3thflcq1yqzn0.cloudfront.net/011958942_prevstill.jpeg');
		background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    .header-title{
	    	padding-top: 5%;
	    	h2{
	    		padding-left: 10px;
	    		color: white;
	    		font-size: 40px;
	    		line-height: 50%;
	    	}
	    }
}
.header-nav{
	background-color: white;
	a{
		display: inline-block;
		position: relative;
		font-family: "Times New Roman", Times, serif;
		margin-top: 10px;
		margin-bottom: 10px;
		cursor: auto;
	}
	nav {
		text-align: center;
	}
	.link, .link2{
		margin: 0 .5rem;
		padding: 0 1rem;
		height: 40px;
		line-height: 40px;
		color: #696969;
	}
	.view-cart{
		display: inline-block;
		padding-top: 10px;
		padding-right: 10px;
		float: right;
	}
}

.post{
	border: solid gray 2px;
	padding-left: 10px;
}
.post-view{
     margin: auto;
     width: 900px; 
}
.body-input{
	height: 200px;
	width: 400px;
	display: block;
}
.title-input{
	width: 400px;
	display: block;
}
.post-input{
	margin-top: 15px;
	display: block;
}
